.vs/
.venv/
DLSegmentation/__pycache__
DLSegmentation/env
Data/
detectron2/
Mask2Former/
MaskDINO/
segment-anything/
sam2/
models/
sam_models/
sam2_models/
DLSegmentation/Demo/__pycache__
3rdparty/
bin/
ObjectMatching/x64/